<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.dao.BranchMapper" >
  <resultMap id="BaseResultMap" type="com.xinda.entity.Branch" >
    <id column="bid" property="branchId" jdbcType="INTEGER" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="branch_number" property="branchNumber" jdbcType="VARCHAR" />
    <result column="branch_address" property="branchAddress" jdbcType="VARCHAR" />
    <result column="branch_host" property="branchHost" jdbcType="VARCHAR" />
    <result column="branch_port" property="branchPort" jdbcType="INTEGER" />
    <association column="branch_manager" property="branchManager" resultMap="com.xinda.dao.UserMapper.UserMap"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    bid, branch_name, branch_number, branch_address, branch_manager, branch_host, branch_port
  </sql>
  <select id="selectBranchList" resultMap="BaseResultMap">
  	select * from branch b 
  	left join user u
  	on b.branch_manager=u.user_account
  </select>
  <select id="selectNameList" resultType="java.lang.String">
  	select branch_name from branch
  </select>
</mapper>