<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.dao.HistoricalPriceMapper" >
  <resultMap id="BaseResultMap" type="com.xinda.entity.HistoricalPrice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="expired_date" property="expiredDate" jdbcType="TIMESTAMP" />
    <result column="active" property="active" jdbcType="TINYINT"/>
    <association column="operator" property="priceOperator" resultMap="com.xinda.dao.UserMapper.UserMap" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, operator, price, start_date, expired_date, active
  </sql>
  <select id="selectByActive" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from historical_price
    where active = #{active}
  </select>
  <insert id="insertSelective" parameterType="com.xinda.entity.HistoricalPrice" >
    insert into historical_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="expiredDate != null" >
        expired_date,
      </if>
      <if test="startDate !=null">
      	start_date,
      </if>
      <if test="active!=null">
      	active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="expiredDate != null" >
        #{expiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate !=null">
      	#{startDate}
      </if>
      <if test="active!=null">
      	#{active}
      </if>
    </trim>
  </insert>
  <delete id="deleteByActive">
  	delete from historical_price where active=0
  </delete>
  <update id="updateHistoricalPrice" parameterType="com.xinda.entity.HistoricalPrice">
  	update historical_price
  	set 
      <if test="expiredDate != null" >
        expired_date=#{expiredDate},
      </if>
      <if test="active!=null">
      	active=#{active}
      </if>
      where id=#{id}
  </update>
</mapper>