<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.dao.RechargeRecordMapper" >
  <resultMap id="RecordMap" type="com.xinda.entity.RechargeRecord" >
    <id column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="record_money" property="recordMoney" jdbcType="DECIMAL" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <association column="record_meter" property="recordMeter" resultMap="com.xinda.dao.MeterMapper.MeterMap"/>
    <association column="record_user" property="recordUser" resultMap="com.xinda.dao.UserMapper.UserMap"/>
  </resultMap>
  <sql id="associate_user_meter" >
    recharge_record r 
    left join user u 
    on r.record_user=u.user_id
    left join meter m
    on r.record_meter=m.meter_id
  </sql>
  <select id="selectAll" resultMap="RecordMap">
    select *
    from <include refid="associate_user_meter"/>
  </select>
  
  <select id="selectForMeterVal" resultType="java.math.BigDecimal">
  	select SUM(record_money) from recharge_record
  	where record_meter=#{meterId}
  	AND ( record_time
  	BETWEEN #{startDate} AND 
  	 <if test="endDate!=null">#{endDate}</if>
  	 <if test="endDate==null">CURDATE()</if>)
	group BY 
  	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y %m %d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y %m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose> 
  </select>
  
  <select id="selectForMeterGroup" resultType="java.lang.String">
  	select 
  	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y %m %d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y %m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose> 
  	from recharge_record
  	where record_meter=#{meterId}
  	AND 
	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y-%m-%d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y-%m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose>
  	BETWEEN #{startDate} AND 
  	 <if test="endDate!=null">#{endDate}</if>
  	 <if test="endDate==null">CURDATE()</if>
	group BY 
  	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y %m %d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y %m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose> 
  </select>
  
  <select id="selectMoneyGroupBy" resultType="java.math.BigDecimal">
  	select SUM(record_money) from recharge_record
  	where record_meter IN (select meter_id from meter where meter_from_zone=#{zoneId})
  	AND 
	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y-%m-%d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y-%m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose>
  	BETWEEN #{startDate} AND 
  	 <if test="endDate!=null">#{endDate}</if>
  	 <if test="endDate==null">CURDATE()</if>
	group BY 
  	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y %m %d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y %m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose> 
  </select>
  
  <select id="selectMonthGroupBy" resultType="java.lang.String">
  	select 
  	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y %m %d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y %m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose> 
  	from recharge_record
  	where record_meter IN (select meter_id from meter where meter_from_zone=#{zoneId})
  	AND 
	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y-%m-%d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y-%m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose>
  	BETWEEN #{startDate} AND 
  	 <if test="endDate!=null">#{endDate}</if>
  	 <if test="endDate==null">CURDATE()</if>
	group BY 
  	<choose>
  		<when test="groupType==0">DATE_FORMAT(record_time,'%Y %m %d')</when>
  		<when test="groupType==1">DATE_FORMAT(record_time,'%Y %m')</when>
  		<when test="groupType==2">DATE_FORMAT(record_time,'%Y')</when>
  	</choose> 
  </select>
  
  <insert id="insert" parameterType="com.xinda.entity.RechargeRecord" >
    insert into recharge_record (record_meter, record_money, 
      record_time)
    values (#{recordMeter.meterId,jdbcType=INTEGER}, #{recordMoney,jdbcType=DECIMAL}, 
      #{recordTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.xinda.entity.RechargeRecord" >
    insert into recharge_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordMeter != null" >
        record_meter,
      </if>
      <if test="recordMoney != null" >
        record_money,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordMeter != null" >
        #{recordMeter.meterId},
      </if>
      <if test="recordMoney != null" >
        #{recordMoney,jdbcType=DECIMAL},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
</mapper>