<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.dao.UserMapper" >
  <resultMap id="UserMap" type="com.xinda.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_cord" property="userCord" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="INTEGER" />
    <association column="user_zone" property="userZone" resultMap="com.xinda.dao.ZoneMapper.ZoneMap"/>
  </resultMap>
  <select id="selectCountByUser" resultType="java.lang.Integer" parameterType="com.xinda.entity.User">
    select count(1)
    from user
    where user_account = #{userAccount}
    and user_password = #{userPassword}
  </select>
  <select id="selectUserById" resultMap="UserMap" parameterType="java.lang.Integer">
  	select * 
  	from user u 
  	left join zone z
  	on u.user_zone=z.zone_id
  	where u.user_id=#{id}
  </select>
  <select id="selectByUser" resultMap="UserMap" parameterType="com.xinda.entity.User">
  	select * 
  	from user u 
  	left join zone z
  	on u.user_zone=z.zone_id
  	where u.user_account=#{userAccount}
  	and u.user_password=#{userPassword}
  </select>
  <select id="selectUserZoneId" parameterType="com.xinda.entity.User" resultType="int">
  	select user_zone from user where user_id=#{id}
  </select>
  
  <update id="updateByUser" parameterType="com.xinda.entity.User">
  	update user
  	<set>
  		user_account=#{userAccount},
  		<if test="userPassword!=null">user_password=#{userPassword},</if>
  		<if test="userName!=null">user_name=#{userName},</if>
  		<if test="userRole!=null">user_role=#{userRole},</if>
  		<if test="userMobile!=null">user_mobile=#{userMobile},</if>
  		<if test="userCord!=null">user_cord=#{userCord},</if>
  		<if test="userZone!=null">user_zone=#{userZone.zoneId},</if>
  	</set>
  	<where>
  		user_id=#{userId}
  	</where>
  </update>
  <update id="updatePwdById">
  	update user
  	set user_password=#{password}
  	where user_id=#{userId}
  </update>
  
  <insert id="insert" parameterType="com.xinda.entity.User">
  	insert into user
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		user_name,user_account,user_mobile,user_role,
  		<if test="userPassword != null">user_password,</if>
  		<if test="userZone != null">user_zone,</if>
  		<if test="userCord != null">user_cord,</if>
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides=",">
  		#{userName},#{userAccount},#{userMobile},#{userRole},
  		<if test="userPassword != null">#{userPassword},</if>
  		<if test="userZone != null">#{userZone.zoneId},</if>
  		<if test="userCord != null">#{userCord},</if>
  	</trim>
  </insert>
</mapper>